<style>
.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}
.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}
.bottom-left {
  position: fixed;
  bottom: 0;
  left: 20%;
}
</style>
      <footer class="footer">
        <div class="container-fluid">
          {% comment %}<ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Creative Tim
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          {% endcomment %}
          <div class="copyright mr-3 mb-3 bottom-right">
            Made with ❤️ by
            <a href="">Fluff Coding</a>. 
          </div>
          
          <div class="copyright bottom-left mb-3 ">
            © Copyright 2020 Meme Marketing. 
          </div>
        </div>
      </footer>