<div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active m-2">
            <a href="{% url 'business:create-campaign' %}">
              <i class="tim-icons icon-spaceship"></i>
              <p>Launch Campaign</p>
            </a>
          </li>
          <li class="m-2">
            <a href="{% url 'business:my-campaigns' %}">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>My Campaigns</p>
            </a>
          </li>
          <li class="m-2">
            <a href="#">
              <i class="tim-icons icon-satisfied"></i>
              <p>Get Memes</p>
            </a>
          </li>
          <li class="m-2">
            <a href="{% url 'active-campaigns' %}">
              <i class="tim-icons icon-send"></i>
              <p>Active Campaigns</p>
            </a>
          </li>
        </ul>
      </div>
    </div>