<div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active m-2">
            <a href="#">
              <i class="tim-icons icon-spaceship"></i>
              <p>Launch Campaign</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="tim-icons icon-satisfied"></i>
              <p>Create Memes</p>
            </a>
          </li>
        </ul>
      </div>
    </div>