{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% include 'components/heading.html' with heading=campaign.title %}
  <p class="blockquote blockquote-white text-center"><b>Instructions:</b> {{campaign.description|capfirst}}</p>
    <form method="POST" enctype="multipart/form-data" action="#end" style='color:white;'>
      {% csrf_token %}
        {{ form|crispy }}
        <a href="#end"><button class="btn btn-success" type="submit">Send</submit></button></a>
    </form>
  {% if meme_images %}
  <br />
    <h2 class="text-center"> Your submissions {% for m in meme_images %}
      {% if forloop.first %}
      <span class="badge badge-primary" style='font-size:25px;'>{{ forloop.revcounter }}</span>
  {% endif %}
  {% endfor %}</h2>
  {% endif %}
  <div class="row">

{% for m in meme_images %}
{% comment %}    {% include 'components/animated_image.html' with image_url=m.image.url icon1class='fas fa-trash-alt' %}
{% endcomment %}
<div class="col-lg-auto">
        <div class="card__collection clear-fix">
          <div class="cards cards--two">
              <img src="{{ m.image.url }}" height="370px" >
              <span class="cards--two__rect"></span>
              <span class="cards--two__tri"></span>
              <p>Meme {{m.id}}</p>
              <ul class="cards__list">
                <a href="{% url 'delete-meme' m.id %}"><li><i class="fas fa-trash-alt"></i></li></a>
            </ul>
          </div>
        </div>
      </div>

  {% empty %}
  <div class="m-5">
    <p> You haven't submitted any memes </p>
  </div>
  {% endfor %}
  </div>
  <div id="end">
</div>

{% comment %}<div class="col-lg-auto">
        <div class="card__collection clear-fix">
          <div class="cards cards--two">
              <img src="{{ m.image.url }}" height="370px" >
              <span class="cards--two__rect"></span>
              <span class="cards--two__tri"></span>
              <p>Meme {{m.id}}</p>
              <ul class="cards__list">
                <a href="{% url 'delete-meme' m.id %}"><li><i class="fas fa-trash-alt"></i></li></a>
            </ul>
          </div>
        </div>
      </div>
    {% endcomment %}
{% endblock content %}
