{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<button class="btn btn-secondary "><a class="text-light" href="/memers/active-campaigns/">Back to active campaigns</a></button>
<h2>{{ campaign.title }}</h2>
<p>{{ campaign.description }}</p>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<a href="#end"><button class="btn btn-success" type="submit">Send</submit></button></a>
</form>
{% if meme_images %}
<hr />
<h2> Your submissions {% for m in meme_images %}
{% if forloop.first %}
<span class="badge badge-primary" style='font-size:25px;'>{{ forloop.revcounter }}</span>
{% endif %}
{% endfor %}</h2>

<div class="row">
{% endif %}
{% for m in meme_images %}
<div class="col-w-auto">
{{ m.meme.memer }}<br>
<img class="ml-3" src="{{ m.image.url }}" height=370px></src>
</div>

{% endfor %}

{% endblock content %}