{% extends 'base.html' %}


{% block content %}
{% include 'components/heading.html' with heading='Your active assignments' tagline='This page includes your active assignments!' %}
{% for campaign in campaigns %}
    <div class="card p-2">
            <div class="card-header">
                <p>Campaign Name</p>
                <h1 style="margin-bottom:0px;">{{ campaign.campaign_name.title }}</h1>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col">
                    <p><span class="badge badge-pill badge-secondary" style="font-size:18px">1300 Rs</b> </span> Est. earnings</p>
                </div>
                <div class="col text-right">
                    <a class="btn btn-primary" href="{% url 'single-execution' campaign.id %}" style="font-size:17px;">Deliver</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}
